.grid-container {
  display: grid;
  grid-template-rows: 5em 5em 5em 5em;
  grid-template-columns: 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em;
  grid-gap: 3px;
  user-select: none;
}

.grid {
  background-color: grey;
}
