.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50em 5em 5em 5em;
  grid-template-columns: 30em 5em 5em 5em 5em 5em;
  grid-gap: 3px;
  user-select: none;
}

.grid {
  background-color: grey;
}
